/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Custom global styles */
.mat-mdc-card {
  margin: 10px;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.margin-top {
  margin-top: 20px;
}

.error-message {
  color: #f44336;
  font-size: 14px;
  margin-top: 5px;
}